{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"plugins": ["roblox-ts", "@typescript-eslint", "@typescript-eslint/eslint-plugin", "prettier", "react"],
	"extends": [
		"plugin:@typescript-eslint/strict",
		"plugin:roblox-ts/recommended",
		"prettier",
		"plugin:prettier/recommended"
	],
	"rules": {
		"@typescript-eslint/consistent-type-definitions": "error",
		"roblox-ts/lua-truthiness": "error",
		"object-shorthand": "error",
		"curly": ["error", "multi-line"],
		"prettier/prettier": "warn",
		"react/jsx-sort-props": "warn",

		"prefer-const": [
			"error",
			{
				"destructuring": "all"
			}
		],
		"no-undef-init": "error"
	}
}
